[submodule "DCManager-frontend"]
	path = frontend
	url = https://github.com/C-W-Z/DCManager-frontend.git
[submodule "DCmanager-backend"]
	path = backend
	url = https://github.com/GaryLee93/DCmanager-backend.git
